/** How to use:
 * .example {
 *     color: map-get($BrandColors, brandBlue);
 * }
 **/
$BrandColors: (
  brandBlue: #3086f6,
  black: #101a29,
  grey: #999,
  darkGrey: #2f3a49,
  red: #ff694a,
  green: #00d6c1,
  yellow: #ffb449,
);
