@tailwind base;
@tailwind components;
@tailwind utilities;
@import './foundation/config';

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: $bg-color;
  color: $primary-color-1;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  img {
    max-width: 100%;
    height: auto;
  }
}

.rectext,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bold;
  margin: 3rem 0 2rem 0;
  line-height: 1.2;
}

h2 {
  font-size: 2.8rem;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 2.1rem;
  margin: 1.6rem 0 1rem 0;
}

h5 {
  font-size: 1.7rem;
  margin: 1.4rem 0 0.7rem 0;
}
.strokeText {
  left: 0;
  position: relative;
  color: rgba(250, 201, 46, 1);
  z-index: 4;
  font-size: 30px;
}
.strokeText::before {
    content: attr(data-storke);
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 6px #425673;
    text-stroke: 6px #425673;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}