@import './foundation/config';

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: $bg-color;
  color: $primary-color-1;

  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  img {
    max-width: 100%;
    height: auto;
  }
}

.rectext,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bold;
  margin: 3rem 0 2rem 0;
  line-height: 1.2;
}

h2 {
  font-size: 2.8rem;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 2.1rem;
  margin: 1.6rem 0 1rem 0;
}

h5 {
  font-size: 1.7rem;
  margin: 1.4rem 0 0.7rem 0;
}

.app {
  position: relative;
  background: linear-gradient(180deg, rgb(19 41 75 / 0%) 0%, #13294b 100%);

  img {
    max-width: 100%;
    height: auto;
  }
}

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .nav-item {
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 .5rem;
    border-radius: 20px;
    padding: 0.6rem 2rem;

    &:hover {
      background-color: rgba($color: white, $alpha: 0.3);
    }

    &.no-hover {
      cursor: initial;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &.no-hover .nav-item {
    cursor: initial;

    &:hover {
      background-color: transparent;
    }
  }
}

.header {
  z-index: 3;
  position: absolute;
  width: 100%;

  &>.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  padding: 3rem;

  &>.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // width: 90%;
    margin: 0 auto;
  }

  .copyright-box {
    flex: 1 1 40%;
    padding: 0.5rem;

    .logo-box {
      margin: 0;
      padding: 1rem;
      width: 200px;
    }

    .nav-social,
    .copyright {
      margin: 1rem 0;
    }

    .nav-social {
      .nav-box {
        justify-content: flex-start;
      }

      .nav-item {
        margin: 0;
        padding: 1rem;

        .svg-icon {
          fill: white;
          margin: 0 0.3rem;
        }
      }
    }
  }

  .contact {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 1rem;
  }

  .copyright {
    font-size: 1rem;
    margin: 0.1rem 0 !important;
    padding: 0 1rem;
    font-weight: 300;
    color: rgba($color: white, $alpha: 0.3);
  }

  .nav-footer {
    font-weight: 300;
    flex: 1 1 60%;
    padding: 1rem;

    .nav-box {
      flex-wrap: wrap;

      .nav-item {
        font-size: 1.2rem;
        flex: 1 1 30%;
        margin: 1rem 0;
        padding: 1rem;
      }
    }
  }
}

.bg-cover {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  &.bg-cover-small {
    height: initial;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.section-main {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;

  &>.content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ctrls-box {
    text-align: center;
    margin-top: 2rem;

    .btn-launch {
      background-color: white;
      color: $primary-color-3;
      padding: 0.6rem 2rem;
      font-weight: 900;
      font-size: 1.4rem;
      border-radius: 3rem;

      &:hover {
        background: rgba($color: white, $alpha: 0.3);
        color: $primary-color-1;
      }
    }

  }
}

//
button {
  cursor: pointer;
  background: transparent;
  padding: 0.5rem 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  word-wrap: break-word;

  &:hover {
    background-color: white;
    color: $primary-color-3;

    .svg-icon {
      fill: $primary-color-2;
    }
  }
}

.btn-launch {
  font-family: 'Montserrat', sans-serif;
}

.btn-icon {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 0;

  .svgIcon {
    margin-top: 3px;
    fill: white;
    display: inline;
    // width: 30px;
    // height: 30px;
  }
}

//
.button-menu-box {
  top: 0;

  .bm-menu {
    background-color: $primary-color-2;
    box-shadow: -11px 0px 10px rgba($color: $primary-color-2, $alpha: 0.3);
  }

  .bm-cross-button {
    width: 4rem !important;
    height: 4rem !important;
    top: 2rem !important;
    right: 2rem !important;

    .bm-cross {
      width: 6px !important;
      height: 26px !important;
      border-radius: 5px !important;
    }
  }

  .bm-item-list {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .nav-item {
      cursor: pointer;
      width: 100%;
      padding: 1.2rem 1rem;
      margin: 0.5rem 0;
      border-radius: 0;
      border-bottom: 1px dashed white;

      &:last-of-type {
        border: none;
      }

      &:hover {
        background-color: rgba($color: white, $alpha: 0.1);
      }

    }

    .menu-item {
      color: white;
    }
  }

}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}